:host {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 justify-content: space-between;
 font-family: 'Audiowide';
 width: clamp(200px, 60vw, 950px);
 margin: auto;
 height: 100vh;

 .header {
  margin-top: clamp(1rem,4.5vw,4rem);
  h1 {
   margin: 0;
   font-size: clamp(2.5rem, 14vw, 6rem);
   background-image: linear-gradient(var(--primary-color), var(--secondary-color));
   color: transparent;
   background-clip: text;
   margin-top: 15px;
  }

  h4 {
   font-size: clamp(1rem, 3.5vw, 1.5rem);
   margin: 0px;
   color: var(--secondary-color);
  }

  img {
   width: clamp(5rem,24vw,10rem);
  }
 }

 .launch-info {
  min-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(20px, 7vw ,87px);
  padding: 10px;

  form {
   display: flex;
   flex-direction: column;
   gap: 28px;
   button[rm-button] {
    width: 100%;
    margin-top: 10px;
   }
  }

  .countdown-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   .coming-soon {
    font-size: 32px;
   }
  }

  @media (max-width: 60rem) {
   min-width: unset;
   width: 90vw;
  }
  @media (max-width: 45rem) {
   grid-template-columns: 1fr;
   gap: 1rem;
   width: unset;
  }
 }

 .app-buttons {
  display: flex;
  gap: 18px;
  padding: 20px;

  img {
   height: 40px;
  }
 }
}