import type { Meta, StoryObj } from '@storybook/angular';
import { <%= componentName %> } from './<%= name %>.component';

const meta: Meta<<%= componentName %>> = {
  component: <%= componentName %>,
  title: '<%= storybookTitle %>',
};
export default meta;
type Story = StoryObj<<%= componentName %>>;

export const Primary: Story = {
  args: {},
};
