import type { Meta, StoryObj } from '@storybook/angular';
import { <%= componentName %> } from './<%= name %>.component';

export default {
  component: <%= componentName %>,
  title: '<%= storybookTitle %>',
} as Meta<<%= componentName %>>;

type Story = StoryObj<<%= componentName %>>;

export const Primary: Story = {
  args: {},
};
